@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--content-height: 250px;
	--cursor-left: url("/assets/cursors/arrow_left_white.svg") 20 20, auto;
	--cursor-right: url("/assets/cursors/arrow_right_white.svg") 20 20, auto;
	--cursor-play: url("/assets/cursors/play.svg") 20 20, auto;
	--cursor-pause: url("/assets/cursors/pause.svg") 20 20, auto;
	--cursor-carousel-right: url("/assets/cursors/arrow_right_small.svg") 20 20,
		auto;
	--cursor-carousel-left: url("/assets/cursors/arrow_left_small.svg") 20 20,
		auto;
}

@media screen and (max-width: 768px) {
	:root {
		--content-height: 350px;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.container::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
	display: none;
}

.container, .main-content {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

body {
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	transform-origin: top;
	-ms-overflow-style: visible; /* IE and Edge */
	scrollbar-width: 5px; /* Firefox */
}

/* ------------------------------------------------------- */
.maincontainer {
	user-select: none;
	/* background: teal; */
	margin: auto;
	/* width: 70vw; */
	/* overflow: scroll; */
}

@media screen and (max-width: 768px) {
	.maincontainer {
		width: 90%;
	}
}

/* --------------------------------------------------------- */

.container {
	user-select: none;
	cursor: pointer;
	position: relative;
	width: fit-content;
	height: var(--content-height);
	display: flex;
	justify-content: center;
	margin: 5rem auto;
	padding-left: 12rem;
	transform: translateX(-6rem);
	transform-origin: center;
}

@media screen and (max-width: 768px) {
	.container {
		user-select: none;
		cursor: pointer;
		position: relative;
		width: fit-content;
		height: fit-content;
		padding: 0;
		transform: none;
		display: flex;
		flex-direction: column-reverse;
		align-items: start;
		justify-content: start;
		gap: 1rem;
	}
}

/* ------------------------------------------------------------ */

.content-cover {
	position: absolute;
	width: 10rem;
	top: 0;
	right: calc(100% - 10rem);
	display: flex;
	gap: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	white-space: nowrap;
	z-index: 100;
}

@media screen and (max-width: 768px) {
	.content-cover {
		/* background-color: aqua; */
		position: relative;
		width: fit-content;
		top: 0;
		right: auto;
		gap: 5px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		white-space: nowrap;
		z-index: 100;
	}
}

.content-cover .logo {
	width: 30px;
	height: 30px;
	overflow: hidden;
}

.content-cover .content-title {
	text-transform: uppercase;
	letter-spacing: 10%;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1rem;
	white-space: nowrap;
}

.content-cover .location {
	font-size: 0.8rem;
	line-height: 0.8rem;
	font-weight: 400;
	white-space: nowrap;
}

.content-cover .sector {
	font-size: 0.6rem;
	line-height: 0.6rem;
	font-weight: 400;
}

/* ------------------------------------------------------- */

.main-content {
	display: flex;
	justify-content: start;
	align-items: center;
	width: fit-content;
	/* gap: 2rem; */
}

.hero-image {
	position: relative;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.main-content {
		width: 100%;
		height: fit-content;
		align-items: initial;
		display: flex;
		justify-content: start;
		align-items: start;
		width: fit-content;
	}

	.hero-image {
		position: relative;
		width: 100%;
		height: fit-content;
	}

	.hero-image img {
		position: relative;
		height: fit-content;
		width: 100%;
	}
}

.hidden {
	overflow: hidden;
	width: 0;
	height: 0;	
	display: flex;
	/* grid-template-rows: 1fr; */
	/* grid-template-columns: repeat(2, 1fr); */
	gap: 2rem;
}

.hero-image img,
.content img {
	position: relative;
	/* height: var(--content-height); */
	height: 100%;
}

.description {
	min-width: 40ch;
	width: 40ch;
	font-size: 0.8rem;
	font-weight: 400;
}

.reveal > .description,
.reveal > .content {
	display: block;
}


/* ------------------------------------------------------- */

.content-carousel {
	display: flex;
	height: 100%;
	width: 500px;
	overflow: hidden;
}

.carousel {
	width: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.carousel img {
	width: 500px;
	height: fit-content;
}

.carousel p {
	width: 500px;
	text-align: center;
	font-size: 0.8rem;
	font-weight: 500;
}

.carousel small {
	font-size: 0.6rem;
	font-weight: 600;
	color: grey;
	letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
	.content-carousel {
		display: flex;
		height: 100%;
		width: 80vw !important;
		overflow: hidden;
	}

	.carousel {
		width: 80vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.carousel img {
		width: 80vw;
		height: fit-content;
	}

	.carousel p {
		width: 100%;
		text-align: center;
		font-size: 0.8rem;
		font-weight: 500;
	}

	.carousel small {
		font-size: 0.6rem;
		font-weight: 600;
		color: grey;
		letter-spacing: 0.1em;
	}
	
}
