@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--content-height: 250px;
	--cursor-left: url("/assets/cursors/arrow_left_white.svg") 20 20, auto;
	--cursor-right: url("/assets/cursors/arrow_right_white.svg") 20 20, auto;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

body {
	overflow-x: hidden;
	transform-origin: top;
}


.maincontainer {
	user-select: none;
	/* background: teal; */
	margin: auto;
	/* width: 70vw; */
	/* overflow: scroll; */
}

.container {
	user-select: none;
	cursor: pointer;
	position: relative;
	width: fit-content;
	/* height: fit-content; */
	height: var(--content-height);
	display: flex;
	justify-content: center;
	margin: 5rem auto;
	padding-left: 12rem;
	transform: translateX(-6rem);
	/* gap: 2rem; */
	transform-origin: center;
	/* overflow: scroll; */
	/* overflow-x: visible; */
	/* overflow-y: hidden; */
}

.content-cover {
	position: absolute;
	width: 10rem;
	top: 0;
	right: calc(100% - 10rem);
	display: flex;
	gap: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	white-space: nowrap;
	z-index: 100;
}

.content-cover .logo {
	width: 30px;
	height: 30px;
	overflow: hidden;
}

.content-cover .content-title {
	text-transform: uppercase;
	letter-spacing: 10%;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1rem;
	white-space: nowrap;
}

.content-cover .location {
	font-size: 0.8rem;
	line-height: 0.8rem;
	font-weight: 400;
	white-space: nowrap;
}

.content-cover .sector {
	font-size: 0.6rem;
	line-height: 0.6rem;
	font-weight: 400;
}

.hidden {
	overflow: hidden;
	width: 0;
	height: 100%;
	display: flex;
	/* grid-template-rows: 1fr; */
	/* grid-template-columns: repeat(2, 1fr); */
	gap: 2rem;
}

.hero-image img,
.content img {
	position: relative;
	/* height: var(--content-height); */
	height: 100%;
}

.description {
	min-width: 40ch;
	width: 40ch;
	font-size: 0.8rem;
	font-weight: 400;
}

.reveal > .description,
.reveal > .content {
	display: block;
}
